
.task
    $this: &
    padding: 10px
    background-color: #ffffff
    border: 1px solid green
    position: relative
    margin-bottom: 10px

    &__container
        // display: flex
        // align-items: center
        // justify-content: space-between
        max-width: 200px
        &:hover
            #{$this}__icons
                display: block

    &__icons
        position: absolute
        display: none
        top: 0
        right: 0
        background-color: #f0f0f0

    &__icon
        color: grey
        cursor: pointer
        padding: 3px
        font-size: 12px
        &:hover
            color: #c45a5a

    &__text
        font-size: 14px
        // white-space: nowrap
        // overflow: hidden
        // text-overflow: ellipsis
