.task
    .task__container.w-100(v-if="!edit")
        .task__text {{ task.task  }}
        .task__icons
            i.fas.fa-pen.task__icon(@click="editTask")
            i.fas.fa-trash.task__icon(@click="$emit('remove')")
    .d-flex.flex-column.align-items(v-else)
        b-form-textarea(v-model="task.task" placeholder="Introduzca el título para la tarea...")
        div.mt-2
            b-button(variant="success" size="sm" @click="update") Editar tarea
            b-button(variant="link" size="sm" @click="edit = !edit") Cancelar
    //- Modal(modalId="modalRemoveTask")
    //-     .font-weight-bold.mb-3 ¡Advertencia!
    //-     div ¿Deseas eliminar la tarea <b>{{ task.task }}</b> definitivamente?
    //-     template(slot="footer")
    //-         hr
    //-         b-button(
    //-             size="sm"
    //-             variant="danger"
    //-             @click="remove"
    //-         ) Sí, eliminar
    //-         b-button(
    //-             class="ml-3"
    //-             size="sm"
    //-             variant="light"
    //-         ) Cancelar
