
.list
    margin-right: 15px
    padding: 15px
    background-color: #f0f0f0

    &__container
        display: flex
        align-items: center
        justify-content: space-between

    &__icon
        color: grey
        cursor: pointer
        &:hover
            color: #c45a5a

    &__name
        font-size: 15px
        &:hover
            text-decoration: underline
            cursor: pointer
