.list
    div(v-if="editList")
        b-form-input(v-model="list.name" placeholder="Introduzca el título para la lista...")
        div.mt-2
            b-button(variant="success" size="sm" @click="update") Editar
            b-button(variant="link" size="sm" @click="editList = false") Cancelar
    .list__container.w-100(v-else)
        .list__name(@click="editList = true") {{ list.name  }}
        i.fas.fa-trash.list__icon(@click="showModalRemoveList")
    .mt-3
        Task(
            v-for="task in tasks"
            :key="`task_${task.id}`"
            :task="task"
            @remove="showModalRemoveTask(task)"
        )
        CreateTask(
            :list="list"
            @refresh="fetchData"
        )
