.signup
    height: 100vh
    width: 100vw
    display: flex
    align-items: center
    justify-content: center
    background-color: #9ac
    &:after
        height: 100vh
        width: 100vw
        content: ''
        position: absolute
        background-color: rgba(#000000, 0.7)
        z-index: 2

    &__logo
        z-index: 3

    &__content
        width: 600px
        padding: 50px
        border-radius: 5px
        background-color: rgba(#fff, 1)
        z-index: 3
