.signup
    .d-flex.flex-column.align-center
        .signup__content
            b-form(@submit.prevent="doSignup")
                validation-provider(
                    name="Usuario"
                    :rules="{ required: true, min: 3 }"
                    v-slot="validationContext"
                )
                    b-form-group(id="username-group" label="Usuario" label-for="username")
                        b-form-input(
                            v-model="form.username"
                            placeholder='Escribe nombre de usuario'
                            :state="getValidationState(validationContext)"
                        )
                    b-form-invalid-feedback(id="username") {{ validationContext.errors[0] }}
                validation-provider(
                    name="Contraseña"
                    :rules="{ required: true, min: 3 }"
                    v-slot="validationContext"
                )
                    b-form-group(id="password-group" label="Contraseña" label-for="password")
                        b-form-input(
                            v-model="form.password"
                            type='password'
                            placeholder='Escribe tu contraseña'
                            :state="getValidationState(validationContext)"
                        )
                    b-form-invalid-feedback(id="password") {{ validationContext.errors[0] }}

                .d-flex.align-items-center.justify-content-between
                    button.btn.btn-success.btn-sm(
                        type='submit'
                        :disabled="loading"
                    ) Crear cuenta
                    RouterLink.small(to="/signin") Ya tengo cuenta


