.dashboard
    overflow-x: scroll

    &__content
        display: flex
        align-items: flex-start

    &__loading
        display: flex
        align-items: center

        .spinner-border
            margin-right: 10px
