.dashboard
    .dashboard__loading(v-if="loading")
        .spinner-border(role="status")
        div Cargando tareas...
    .dashboard__content(v-else)
        List(
            v-for="list in lists"
            :key="`list_item_${list.id}`"
            :list="list"
        )
        CreateList
