b-modal(
    :id="modalId"
    modal-class="yuri-modal"
    centered
    no-close-on-esc
    no-close-on-backdrop
    hide-header
    hide-footer
)
    slot(name='header')
    slot
    slot(name='footer')