.create-task
    .create-task__container(v-if="!addNewTask" @click="addNewTask = !addNewTask")
        i.fas.fa-plus.create-task__icon
        .create-task__text Añadir una tarea
    div(v-else)
        b-form-input(v-model="task" placeholder="Introduzca el título para la tarea...")
        div.mt-2
            b-button(variant="success" size="sm" @click="create") Añadir tarea
            b-button(variant="link" size="sm" @click="addNewTask = !addNewTask") Cancelar