
.create-list
    padding: 15px
    background-color: #f0f0f0

    &__container
        display: flex
        align-items: center
        cursor: pointer
        width: 200px

    &__icon
        margin-right: 10px

    &__text
        font-size: 15px
