.create-list
    .create-list__container(v-if="!addNewList" @click="addNewList = !addNewList")
        i.fas.fa-plus.create-list__icon
        .create-list__text Añadir una lista
    div(v-else)
        b-form-input(v-model="name" placeholder="Introduzca el título para la lista...")
        div.mt-2
            b-button(variant="success" size="sm" @click="create") Añadir lista
            b-button(variant="link" size="sm" @click="addNewList = !addNewList") Cancelar