// @import '@/assets/media-queries.scss'

.header
    width: 100vw
    padding: 10px 15px
    background-color: rgba(27,27,27,.9)
    color: white
    display: flex
    align-items: center
    justify-content: space-between
