.signin
    .d-flex.flex-column.align-center
        .signin__content
            .alert.alert-info(v-if="$route.query.signup")
                h5 ¡Hola!
                div Ya puedes acceder con tus datos de acceso
            b-form(@submit.prevent="doLogin")
                validation-provider(
                    name="Usuario"
                    :rules="{ required: true, min: 3 }"
                    v-slot="validationContext"
                )
                    b-form-group(id="username-group" label="Usuario" label-for="username")
                        b-form-input(
                            id="username"
                            v-model="form.username"
                            :state="getValidationState(validationContext)"
                            placeholder='Introduce usuario'
                        )
                        b-form-invalid-feedback(id="username") {{ validationContext.errors[0] }}
                validation-provider(
                    name="Contraseña"
                    :rules="{ required: true, min: 3 }"
                    v-slot="validationContext"
                )
                    b-form-group(id="password-group" label="Contraseña" label-for="password")
                        b-form-input(
                            v-model="form.password"
                            type='password'
                            :state="getValidationState(validationContext)"
                            placeholder='Introduce contraseña'
                        )
                        b-form-invalid-feedback(id="password") {{ validationContext.errors[0] }}
                .d-flex.align-items-center.justify-content-between
                    button.btn.btn-success.btn-sm(
                        type='submit'
                        :disabled="loading || $v.$invalid"
                    ) Acceder
                    RouterLink(to="/signup") Crear cuenta
