<template lang="pug">
  #app
    div(v-if="fullscreen")
      router-view
    div(v-else)
      TheHeader(v-if="isLogged()" :key="isLogged()") Header
      transition(name="fade" mode="out-in")
        .p-3
          router-view
</template>

<script>
import TheHeader from "@/components/Header/index.vue";

export default {
  components: { TheHeader },
  methods: {
    isLogged() {
      return localStorage.getItem("ECTK");
    },
  },
  computed: {
    fullscreen() {
      const { name: nameScreen } = this.$route;
      return nameScreen === "Signin" || nameScreen === "Signup" ? true : false;
    },
  },
};
</script>
